/*Stylesheet Final project Julien 2019*/

/*
Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
}



/*
Layout
*/


h1,h2 {
    text-align: center;

}

h2,h3,h4,
p,
nav ul {
    padding: 20px;
    margin-bottom: 1em;
}

footer {
    
}

nav.main-navigation {
    
}


/*
Navigation
*/

nav#main-navigation {
    text-transform: uppercase;
    color: gainsboro;
}

nav#main-navigation ul {
    text-align: center
}

nav#main-navigation ul li {
    display: inline-block;
} 

nav#main-navigation ul li a {
    text-decoration: none;
    color: darkgrey;
}

nav#main-navigation ul li a:hover {
    color: red;
}

nav#mobile-navigation {
    text-transform: uppercase;
    color: gainsboro;
}

nav#mobile-navigation ul li a:hover {
    color: red;
}

nav#mobile-navigation ul li a {
    text-decoration: none;
    color: darkgrey;
    font-size: 2.7em;
}

#main-navigation {
            display: none;
        }
        
        #mobile-navigation {
            margin-bottom:-20px
        }
        
        
        @media only screen and (min-width: 600px) {
            
            #main-navigation {
                display: block;
                margin-bottom:-20px
            }
            
            #mobile-navigation {
                display: none;
            }
        }
/*
Colors and style
*/

body {
    background-color: darkgrey
}

header {
    background-color: gray
}



footer {
    background-color: black;
    color: gray;
    
}



/*
Typographie
*/

body {
    font-family: 'Source Code Pro', Arial, monospace;
        }
    
p {
    line-height: 1,5em;
    }
        
    


